.nav-bar {
  background: #24292e;
  .logo {
    cursor: pointer;
    padding: 14px 32px 9px;
    line-height: 1.5;
    .octicon {
      fill: #FFFFFF;
      display: inline-block;
      &:hover {
        fill: rgb(255 255 255 / 70%);
      }
    }
  }
  .link {
    color: rgb(255 255 255 / 70%);
    line-height: 1.9;
    text-decoration: none;
    box-shadow: inset 0px -3px transparent;
    &:hover {
      color: #FFFFFF;
    }
    &.active {
      color: #FFFFFF;
      box-shadow: inset 0px -3px #f86c4f;
    }
  }
}
